<div>
  <div class="persons-stats">
    <div class="your-person-cards">
      <div *ngFor="let person of gameSocketAdapter.currentGame.yourPersons">
        <img class="person-img" [src]="person.getPersonImageSrc()">
        <div>
          Имя: {{person.name}}
        </div>
      </div>
    </div>

    <div class="enemy-player-person-cards">
      <div *ngFor="let person of gameSocketAdapter.currentGame.enemyPlayerPersons" >
        <img class="person-img" [src]="person.getPersonImageSrc()">
        <div>
          Имя: {{person.name}}
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
