<div *ngIf="user">
  <div class="h2Line row">
    <div class="row" style="padding-left: 25px">
      <h2 class="h2Line">{{user.login}}</h2>
    </div>
  </div>

  <div class="row" style="margin-top: 30px">
    <div class="col-sm-4" style="display: flex; flex-direction: column; align-items: flex-end">
      <img src="/assets/user-icon.jpg" class="img-fluid user-img">
    </div>
    <div class="col-sm-8, accountData">
      <h3 style="margin-top: 10px"><b>Nickname:</b> {{user.login}} </h3>
      <p><b>Name:</b> {{user.name}}</p>
      <p><b>Email adress:</b> {{user.email}}</p>
      <p><b>ID:</b> {{user.id}}</p>
      <p><b>Placeholder1:</b> placeholder</p>
      <p><b>Placeholder2:</b> placeholder</p>
    </div>
  </div>

</div>
