.select-person {
  width: 600px;
  height: 400px;
}

.select-person-cards {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  height: 400px;
}

.person-selected {
  background: #7f7f7f;
  padding-left: 25px;
  width: 200px;
  height: 200px;
  border: solid 1px;
}

.person-none-selected {
  padding-left: 25px;
  width: 200px;
  height: 200px;
  border: solid 1px;
}

.select-person-img {
  width: 150px;
  height: 150px;
}

.select-button {
}
